body {
  font-family: Arial, sans-serif;
}

header h1 {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.card {
  border: none;
}

.card-body {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
}

footer p {
  margin: 0;
}

/* Container flex settings for centering content */
#about {
  height: 100vh; /* Set the height to full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Optional: Center the text */
}

.container {
  text-align: center;
}

.client-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
